#container{
padding: 20px;
margin: 5px,5px,5px,5px;
background-color:royalblue;
border-radius: 15px;
}

form{
display: inline-block;
}

#button{
   background-color : blueviolet; 
   text-align: center;
   display: inline-block;
}
#button:hover{
    cursor: pointer;
    opacity: .8;
}

.highlight{
    background:orange;
}